* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    margin-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.site-content_wrap {
  padding-top: 40px;
  }

.lista1{
    list-style:disc; 
    list-style-position: inside;
    margin: 0;
    background: fixed;
    background: #fff;
 }
 ul .lista1 {
    color:black;
    font-size:15px;
    line-height: 1.5;
    padding-left: 2rem;
}   
 ul .lista1 span{
    color:black;
    font-size:15px;
 }   
 ol {
    list-style-type: lower-alpha;
    list-style-position: inside;
    }

/*Estilo de imagen de peliculas*/

/*.image-gallery {
  width: 188px ;
  height: 273px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
}*/

/* Estilos para el encabezado */
header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    background-color: #ba7979;
    color: #ffffff;
    padding: 10px 0;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 200px;
    height: 100px;
    margin-left: 10px;

}

/* this is a recreation of twitter search in css */
.form {
    --input-text-color: #fff;
    --input-bg-color: #292c30;
    --text-color: #c7d0d4;
    --active-color: #4d5052;
    --width-of-input: 200px;
    --inline-padding-of-input: 1.2em;
    --gap: 0.9rem;
  }
  /* form style */
  .form {
    font-size: 0.9rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: right;
    width: var(--width-of-input);
    position: relative;
    isolation: isolate;
  }
  /* a fancy bg for showing background and border when focus. */
  .fancy-bg {
    position: absolute;
    width: 100%;
    inset: 0;
    background: var(--input-bg-color);
    border-radius: 30px;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  /* label styling */
  label {
    width: 100%;
    padding: 0.8em;
    height: 40px;
    padding-inline: var(--inline-padding-of-input);
    display: flex;
    align-items: center;
    justify-content: right;
  }
  
  .search,.close-btn {
    position: absolute;
  }
  /* styling search-icon */
  .search {
    fill: var(--text-color);
    left: var(--inline-padding-of-input);
  }
  /* svg -- size */
  svg {
    width: 17px;
    display: block;
  }
  /* styling of close button */
  .close-btn {
    border: none;
    right: var(--inline-padding-of-input);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--active-color);
    opacity: 0;
    visibility: hidden;
  }
  /* styling of input */
  .input {
    color: var(--input-text-color);
    width: 100%;
    margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
    background: none;
    border: none;
    justify-content: right;
  }
  
  .input:focus {
    outline: none;
  }
  
  .input::placeholder {
    color: var(--text-color)
  }
  /* input background change in focus */
  .input:focus ~ .fancy-bg {
    border: 1px solid var(--active-color);
    background: var(--focus-input-bg-color);
  }
  /* search icon color change in focus */
  .input:focus ~ .search {
    fill: var(--active-color);
  }
  /* showing close button when typing */
  .input:valid ~ .close-btn {
    opacity: 1;
    visibility: visible;
  }
  /* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }




.search-bar {
    display: inline-block;
    display: flex;
    justify-content: right; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    display: flex;

}

.login-register.button{
    color: #3f454b;
}

.search-bar button {
    padding: 8px 12px;
    border: none;
    background-color: #664242;
    color: #fff;
    border-radius: 0 4px 4px 0;
}


/* Estilos para los botones */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1a2c41;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}
.button_user {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1a2c41;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
}

.button:hover {
    background-color: #cf6666;
}

/* Estilos para el contenido principal */
.main {
    padding: 20px;
}

.icon-row {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 0 10px;
    font-size: 24px;
}
.dropdown {
    font-size: 24px; /* Tamaño de la fuente del desplegable */
    width: 250px; /* Anchura del desplegable */
    height: 40px; /* Altura del desplegable */
}

/*Estilo para el menu despegable */

nav {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #1a2c41;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
  }
  
  ul {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    padding: 0 30px;
    list-style-type: none;
    li:not(:last-child) {
      margin-right: 40px;
    }
    li {
      border: 2px solid transparent;
      border-radius: 5px;
      padding: 10px;
      transition: background 0.2s;
      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s;
      }
      ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: block;
        margin: 12px -12px;
        padding: 0;
        background: #b36060;
        border: 2px solid #b36060;
        border-right: 2px solid #b36060;
        border-bottom: 2px solid #b36060;
        border-radius: 5px;
        transition: opacity 0.2s, visibility 0.2s;
        li {
          margin: -2px 0 0 -2px;
          width: calc(100% - 20px);
          line-height: 1.7;
          .navigation a {
            color: #fff;
          }
        }
      }
    

      &:hover {
        background: #1a2c41;
        border: 2px solid #1a2c41;
        border-right: 2px solid #1a2c41;
        border-bottom: 2px solid 524d4d;
        a {
          color: #F9F8FD;
        }
         ul {
          visibility: visible;
          opacity: 1;
          box-shadow: 0px 3px 5px 2px #EBECF1;
          li {
            a {
              color: #F9F8FD;
            }
          }
        }
      }
    }
  }
    
  
  
  @keyframes slide-in {
    0% {
      top: -50px;
    }
    40% {
      top: 20px;
    }
    70% {
      top: 10px;
    }
    100% {
      top: 15px;
    }
  }


/* Estilos para el footer */
footer {
    background-color: #504b4b;
    color: #fff;
    padding: 0px 0; /* Se reduce el padding para hacerlo más estrecho */
    text-align: center;
    margin-top: 50px; /* Se añade un margen superior para colocarlo más abajo */
}

.footer-buttons {
    margin-top: 10px;
}

.footer-buttons p {
    margin-bottom: 10px;
}

.footer-buttons .button {
    margin: 0 5px;
}


@media only screen and (max-width: 992px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .search-bar {
        order: 2;
        width: 100%;
        margin-top: 10px;
    }

    .logo img {
        display: block;
        margin: 0 auto;
        max-width: 80px; /* Menor tamaño de logo para pantallas pequeñas */
    }

    .login-register, .button {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .button {
        margin: 5px 0; /* Menos espacio entre botones para ahorrar espacio */
    }
}

@media only screen and (max-width: 768px) {
    header {
        text-align: center;
        padding: 5px;
    }

    .search-bar input[type="text"], .search-bar button {
        width: 90%; /* Aumenta el tamaño en pantallas muy pequeñas */
    }

    .search-bar {
        flex-direction: column;
    }

    .search-bar button {
        width: 50%;
        margin-top: 5px; /* Espacio entre el input y el botón en diseños verticales */
    }

    .logo img {
        max-width: 60px; /* Aún más pequeño para pantallas muy pequeñas */
    }
}

@media only screen and (max-width: 480px) {
    .main, .footer {
        padding: 10px;
    }

    .icon {
        font-size: 20px; /* Tamaño de ícono reducido para pequeñas pantallas */
    }
}

