<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Politicas de cookies - Retrocinema</title>
  <link rel="stylesheet" href="style.css">
  <body>
    <header>
      <div class="logo">
        <img src="/logo_fondo/logo.png" alt="Logo">
      </div>
        <nav id="menu">
          <ul>
            <li><a href="/inicio/inicio.html">Inicio</a></li>
          <li><a href="#0">Categoría</a>
            <ul>
              <li><a href="/categorias/accion.html">Acción</a></li>
              <li><a href="/categorias/aventura.html">Aventura</a></li>
              <li><a href="/categorias/comedia.html">Comedia</a></li>
              <li><a href="/categorias/ciencia_ficcion.html">Ciencia ficción</a></li>
              <li><a href="/categorias/drama.html">Drama</a></li>
              <li><a href="/categorias/romance.html">Romance</a></li>
              </ul>
            </li>
              <li>
                <a href="#0">Usuario</a>
                <ul>
                  <li><a href="/usuario/inicio_sesion.html">Inicio sesión</a></li>
                  <li><a href="/usuario/registro.html">Registro</a></li>
                  <li><a href="/usuario/cuenta.html">Cuenta</a></li>
                  <li><a href="/usuario/cerrar_sesion.html">Cerrar sesión</a></li>
              </ul>
          </ul>
        </nav>
        <form class="form">
          <label for="search">
              <input class="input" type="text" required="" placeholder="Buscar" id="search">
              <div class="fancy-bg"></div>
              <div class="search">
                  <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                      <g>
                          <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                      </g>
                  </svg>
              </div>
              <button class="close-btn" type="reset">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
              </button>
          </label>
      </form>
    </header>

  <main>
    <div class="container">
      <body>
        <h1>POLÍTICA DE COOKIES</h1>
        <br>
           <p>Este sitio web, al igual que la mayoría de los sitios en Internet, usa Cookies para mejorar y optimizar la experiencia del usuario. A continuación encontrarás información detallada sobre qué son las “Cookies”, qué tipología utiliza este sitio web, cómo puedes desactivarlas en tu navegador y cómo bloquear específicamente la instalación de Cookies de terceros.</p>
           <br>
           <h3>¿Qué son las Cookies y cómo las utilizan los sitios web?</h3>
           <br>
           <p>Las Cookies son archivos que el sitio web o la aplicación que utilizas instala en tu navegador o en tu dispositivo (Smartphone, tableta o televisión conectada) durante tu recorrido por las páginas o por la aplicación, y sirven para almacenar información sobre tu visita. Como la mayoría de los sitios en internet, los portales web de www..es utilizan Cookies para:</p>
           <br>
           <ol class="ul-vineta">
            <li>Asegurar que las páginas web pueden funcionar correctamente</li>
            <li>Almacenar tus preferencias, como el idioma que has seleccionado o el tamaño de letra.</li>
            <li>Conocer tu experiencia de navegación.</li>
            <li>Recopilar información estadística anónima, como qué páginas has visto o cuánto tiempo has estado en nuestros medios.</li>
           </ol>
           <br>
           <p>El uso de Cookies nos permite optimizar tu navegación, adaptando la información y los servicios ofrecidos a tus intereses, para proporcionarte una mejor experiencia siempre que nos visites. Los sitios web de www..es, utilizan Cookies para funcionar, adaptar y facilitar al máximo la navegación del Usuario.</p>
           <br>
          
           <p>Las Cookies se asocian únicamente a un usuario anónimo y su ordenador/dispositivo y no proporcionan referencias que permitan conocer datos personales. En todo momento podrás acceder a la configuración de tu navegador para modificar y/o bloquear la instalación de las Cookies enviadas por los sitios web de www..es, sin que ello impida al acceso a los contenidos. Sin embargo, la calidad del funcionamiento de los Servicios puede verse afectada.</p>
           <br>
        
           <p>Los Usuarios que completen el proceso de registro o hayan iniciado sesión con sus datos de acceso podrán acceder a servicios personalizados y adaptados a sus preferencias según la información personal suministrada en el momento del registro y la almacenada en la Cookie de su navegador.</p>
           <br>
        
           <p>Las herramientas de email-marketing de www..es utilizan pequeñas imágenes invisibles para los usuarios que son incluidas en los emails. Esta tecnología nos permite saber si un email se ha leído o no, en qué fecha, la dirección IP desde la que ha sido consultado, etc. Con esta información, realizamos estudios estadísticos y analíticos sobre el envío y recepción de los emails para mejorar la oferta de los servicios a los que el usuario está suscrito y ofrecerle información que pueda ser de su interés.</p>
           <br>
      
           <h3>¿Por qué son importantes?</h3>
           <br>
           <p>Desde un punto de vista técnico, permiten que los sitios web funcionen de forma más ágil y adaptada a las preferencias de los usuarios, como por ejemplo almacenar el idioma, la moneda del país o detectar el dispositivo de acceso.</p>
           <br>
        
           <p>Establecen niveles de protección y seguridad que Impiden o dificultan ciberataques contra el sitio web o sus usuarios.</p>
           <br>
        
           <p>Permiten que los gestores de los medios puedan conocer datos estadísticos recopilados en las Cookies para mejorar la calidad y experiencia de sus servicios.</p>
           <br>
           <p>Sirven para optimizar la publicidad que mostramos a los usuarios, ofreciendo la que más se ajusta a sus intereses.</p>
           <br>
      
           <h3>¿Cuáles son los diferentes tipos de Cookies que podemos utilizar?</h3>
           <br>
           <p>Las de sesión expiran cuando el Usuario abandona la página o cierra el navegador, es decir, están activas mientras dura la visita al sitio web y por tanto son borradas de nuestro ordenador al abandonarlo.</p>
           <br>
        
           <p>Las permanentes expiran cuando se cumple el objetivo para el que sirven o bien cuando se borran manualmente, tienen fecha de borrado y se utilizan normalmente en proceso de compra online, personalizaciones o en el registro, para no tener que introducir nuestra contraseña constantemente.</p>
           <br>

           <p>Por otro lado, según quien sea la entidad que gestione el equipo o dominio desde donde se envían las cookies y trate los datos que se obtengan, podemos distinguir entre Cookies propias y de terceros.</p>
          <br>
           <p>Las Cookies propias son aquellas Cookies que son enviadas a tu ordenador y gestionadas exclusivamente por nosotros para el mejor funcionamiento del Sitio Web. La información que recabamos se emplea para mejorar la calidad de nuestro servicio y tu experiencia como usuario.</p>
           <br>
           <p>Si interactúas con el contenido de nuestro Sitio Web también pueden establecerse cookies de terceros (por ejemplo, al pulsar botones de redes sociales o visionar vídeos alojados en otro sitio web), que son aquellas establecidas por un dominio diferente denuestro Sitio Web. No podemos acceder a los datos almacenados en las cookies de otros sitios web cuando navegues en los citados sitios web.</p>
        
           <h3>¿Cómo puedo configurar mis Cookies?</h3>
           <br>
           <p>En cualquier caso le informamos de que, dado que las Cookies no son necesarias para el uso de nuestro Sitio Web, puede bloquearlas o deshabilitarlas activando la configuración de su navegador, que le permite rechazar la instalación de todas las cookies o de algunas de ellas. La práctica mayoría de los navegadores permiten advertir de la presencia de Cookies o rechazarlas automáticamente. Si las rechaza podrá seguir usando nuestro Sitio Web, aunque el uso de algunos de sus servicios podrá ser limitado y por tanto su experiencia en nuestro Sitio Web menos satisfactoria.</p>
           <br>
        
           <p>VIDEOCLUB Retrocinema</p>
           <p>Dirección:</p>
           <p>España</p>
           <p>Web: https://.es</p>
           <p>Correo electrónico: </p>
           <p>Número de teléfono: +34 </p>
      </body>
    </div>
  </main>

  <footer>
    <div class="footer">
      <p>&copy; 2024 Retrocinema</p>
      <div class="footer-buttons">
        <a href="/footer/avisos_legales.html" class="button">Avisos legales</a>
        <a href="/footer/politicas_cookies.html" class="button">Políticas de cookies</a>
        <a href="/footer/politicas_privacidad.html" class="button">Políticas de privacidad</a>
      </div>
    </div>
  </footer>
  <script src="script.js"></script>
</body>
</html>
