{% extends "base.html" %}
{% block content %}
  <main>
    {% if current_user.is_authenticated %}
      <h1>¡Hola {{ current_user.username.title() }}!</h1>
    {% endif %}
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Título</th>
            <th>Resumen</th>
            <th>Carátula</th>
            <th>Precio Alquiler</th>
            <th>Categoría</th>
          </tr>
        </thead>
        <tbody>
          {% for pelicula in peliculas %}
            <tr>
              <td>{{ pelicula['titulo'] }}</td>
              <td>{{ pelicula['resumen'] }}</td>
              <td><img height="350px" width="250px" src="{{ url_for('static', filename='css/img/' + pelicula['caratula']) }}" alt="Carátula"></td>
              <td>{{ pelicula['precio_alquiler'] }}</td>
              <td>{{ pelicula['categoria'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container">
      <p>&copy; 2024 Retrocinema</p>
    </div>
  </main>
  {% endblock content %}
