
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-image:url(/logo_fondo/fondo.jpg) ;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ba7979;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align:center;
    justify-content: center;
    line-height: 0.2;

    
}


.form-group{
    text-align:center;
}

.container_footer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1a2c41;
    text-align:center;
    
}

/* Estilos para el encabezado */
header {
    background-color: #ba7979;
    color: #ffffff;
    padding: 10px 0;
}

.logo img {
    max-width: 100px;
}

.search-bar {
    display: inline-block;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 8px 12px;
    border: none;
    background-color: #641717;
    color: #fff;
    border-radius: 0 4px 4px 0;
}

/* Estilos para los botones */

.submit{
    justify-content: center;
    background-color: #0e233a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit:hover {
background-color: #504b4b;
}

.password{
    display: inline-block;
}

button {
    justify-content: center;
    background-color: #0e233a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #504b4b;
}


.back {
    display: inline-block;
    padding: 20px 20px;
    background-color: #504b4b;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
   
}

.back:hover {
    background-color: #842424;
}


/* Estilos para el contenido principal */
.main {
    padding: 20px;
}

.icon-row {
    display: flex;
    justify-content: center;
}

.icon {
    margin: 0 10px;
    font-size: 24px;
}


/* Estilos para el footer */
footer {
    background-color: #1a2c41;
    color: #fff;
    padding: 0px 0; /* Se reduce el padding para hacerlo más estrecho */
    text-align: center;
    margin-top: 50px; /* Se añade un margen superior para colocarlo más abajo */
}

.footer-buttons {
    margin-top: 10px;
}

.footer-buttons p {
    margin-bottom: 10px;
}

.footer-buttons .button {
    margin: 0 5px;
}

@media only screen and (max-width: 992px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .search-bar {
        order: 2;
        width: 100%;
        margin-top: 10px;
    }

    .logo img {
        display: block;
        margin: 0 auto;
        max-width: 80px; /* Menor tamaño de logo para pantallas pequeñas */
    }

    .login-register, .button {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .button {
        margin: 5px 0; /* Menos espacio entre botones para ahorrar espacio */
    }
}

@media only screen and (max-width: 768px) {
    header {
        text-align: center;
        padding: 5px;
    }

    .search-bar input[type="text"], .search-bar button {
        width: 90%; /* Aumenta el tamaño en pantallas muy pequeñas */
    }

    .search-bar {
        flex-direction: column;
    }

    .search-bar button {
        width: 50%;
        margin-top: 5px; /* Espacio entre el input y el botón en diseños verticales */
    }

    .logo img {
        max-width: 60px; /* Aún más pequeño para pantallas muy pequeñas */
    }
}

@media only screen and (max-width: 480px) {
    .main, .footer {
        padding: 10px;
    }

    .icon {
        font-size: 20px; /* Tamaño de ícono reducido para pequeñas pantallas */
    }
}
